/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/IdiomaSistema/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoavaFX/nbproject/private/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/ResolucaoTelaSwing/nbproject/private/
/ResolucaoTelaSwing/build/
/IdiomaSistemaSwing/nbproject/private/
/IdiomaSistemaSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/Adivinha/nbproject/private/
/Adivinha/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/Contador02/nbproject/private/
/Contador02/build/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/Numero/nbproject/private/
/Numero/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/RepeticaoFor/nbproject/private/
/RepeticaoFor/build/
/Exercicio13/nbproject/private/
/ContadorE13/nbproject/private/
/ContadorE13/build/
/Vetor01/nbproject/private/
/Vetor01/build/
/Meses/nbproject/private/
/Meses/build/
/ExeVetor01/nbproject/private/
/ExeVetor02/nbproject/private/
/ExeVetor02/build/
/ExeVetor03/nbproject/private/
/ExeVetor03/build/
/ExeVet04/nbproject/private/
/ExeVet04/build/
/PreenchendoVetor/nbproject/private/
/PreenchendoVetor/build/
